/* ---- Global styles ---- */

/* CSS Reset */
* {
    box-sizing: border-box;
}

/* Body styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    color: #333;
    padding-top: 30px;
}

/* Disclaimer styles. DO NOT REMOVE OR EDIT UNLESS ABSOLUTELY NECESSARY */
.disclaimer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    z-index: 1000;
    font-weight: bold;
    height: 30px;
}

/* ---- Your custom styles below ---- */

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.med-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.medicine-card {
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 5px;
    border: 2px solid #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0, 0.1);
    max-width: 400px;
    width: 250px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.medicine-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.medicine-card p{
    font-size: 1rem;
    color: #555;
}

.delete-button {
    padding: 0.5rem 1rem;
    background-color: #FF6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}

.delete-button:hover {
    background-color: #FF4500;
}

form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
}

form input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

form button {
    padding: 0.5rem 1rem;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}